[project]
	description = Tanks_Brick_Game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pankaj Chandel (chandelpankaj)
[access "refs/for/refs/*"]
	read = group user/Pankaj Chandel (chandelpankaj)
	push = group user/Pankaj Chandel (chandelpankaj)
	label-Code-Review = -2..+2 group user/Pankaj Chandel (chandelpankaj)
	label-Verified = -1..+1 group user/Pankaj Chandel (chandelpankaj)
	rebase = group user/Pankaj Chandel (chandelpankaj)
	removeReviewer = group user/Pankaj Chandel (chandelpankaj)
	submit = group user/Pankaj Chandel (chandelpankaj)
[access "refs/heads/*"]
	read = group user/Pankaj Chandel (chandelpankaj)
	create = group user/Pankaj Chandel (chandelpankaj)
	push = +force group user/Pankaj Chandel (chandelpankaj)
	pushMerge = group user/Pankaj Chandel (chandelpankaj)
[access "refs/tags/*"]
	push = group user/Pankaj Chandel (chandelpankaj)
	push = +force group user/Pankaj Chandel (chandelpankaj)
